* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #F2F2F2;
    scroll-behavior: smooth;

}
.top-logo img {
    width: 40%;
}
/*👉.box-1 {
    background-color:#F2F2F2;
    -webkit-transform: skew(0deg, -5deg);
}
.box-2 {
    background-color:#1B2249;
    -webkit-transform: skew(0deg, -5deg);
}
.box-3 {
    background-color:#F2F2F2;
    -webkit-transform: skew(0deg, -5deg);
}👈*/
.top-logo {
    text-align: center;
    background-image: url("../img/logo-top.png");
    background-position: center top 50px;
    background-repeat: no-repeat;
    background-size: 500px;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -10;
    padding-top: 0;
}
.back-color {
    /* -webkit-transform: skew(0deg, 5deg); */
    background-color: #F2F2F2;
}
.pc-menu svg {
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.pc-menu li {
    list-style: none;
    width : calc(100% / 4) ;
}
.pc-menu {
    display: flex;
    /* background-color: #800000; */
    height: 60px;
    line-height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.pc-menu ul {
    display: flex;
    text-align: center;
    width: 100%;
}
.pc-menu a {
    text-decoration: none;
    display: block;
}
.pc-menu a:hover {
    background-color:rgba(255,255,255,0.4);
    color: black;
}
#svg_color a:hover {
    background-color: transparent;
}
.aboutus h1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px white solid;
    width: 500px;
}

.aboutus-text {
    width: 100%;
    margin: 0 auto;
    line-height: 50px;
    padding-top: 50px;
}
.aboutus {
    position: relative;
    overflow: hidden;
    /* margin: 10% 0; */
    padding: 80px 0;
    /* margin-top: 450px; */
}

.aboutus:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 80%;
    margin: 3% -10% 0;
    background: #011931;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    z-index: -1;
}

.aboutus_inner {
    box-sizing: boder-box;
    width: 100%;
    max-width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 10px 120px;
    color: #fff;
}
.aboutus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 80%;
    margin: 3% -10% 0;
    background: #DDC4DD;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: -2;
}
#pc-menu .header-color {
    background-color: #800000;
}
.link:visited {
    color: #000000;
}
.about-job {
    height: 300px;
}
.about-job h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px black solid;
    width: 500px;
}
.job-in {
    display: flex;
    justify-content: center;
}
.job-1,.job-2,.job-3,.job-4 {
    text-align: center;
    margin: 40px 30px;
    width: 200px;
}
.job-img1 {
    background-image: url("../img/community.png");
    width: 100px;
    height: 100px;
    background-size: 250px;
    border-radius: 50%;
    background-position: center top;
    display: inline-block;
}
.job-img2 {
    background-image: url("../img/higacoin.png"); 
    /* 変更したい */
    width: 100px;
    height: 100px;
    background-size: 250px;
    border-radius: 50%;
    background-position: left top;
    display: inline-block;
}
.job-img3 {
    background-image: url("../img/keihatu.png");
    width: 100px;
    height: 100px;
    background-size: 250px;
    border-radius: 50%;
    background-position: center top;
    display: inline-block;
}
.job-img4 {
    background-image: url("../img/pong_logo.png");
    /* 変更したい */
    width: 100px;
    height: 100px;
    background-size: 500px;
    border-radius: 50%;
    background-position: center top;
    display: inline-block;
}
.outcome {
    background-color: rgb(227, 227, 227);
    height: 600px;
    width: 100%;
}
.outcome h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px black solid;
    width: 500px;
    padding-top: 40px;
}
.o-inbox {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-color: #DDC4DD; */
    text-align: center;
    margin-top: 40px;
}
.o-main {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/logo-top.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.o-select {
    width: 50%;
    height: 400px;
}
.o-main img {
    width: 50%;
}
.o-s-inbox {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.o-main-text {
    text-align: left;
    color: white;
    /* height: 400px; */
    width: 100%;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding-left: 30px;
}
.overview {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    width: 375px;
    text-align: center;
    height: 100px;
    background-color: #011931;
    color: white;
}
.o-img img {
    height: 100px;
}
.o-text {
    height: 100px;
    line-height: 100px;
}
.o-img {
    width: 50%;
    text-align: right;
}
.o-text {
    width: 50%;
    text-align: center;
}
.faq h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    border-bottom: 1px black solid;
    width: 500px;
    padding-top: 40px;
}
.faq p {
    margin-top: 30px;
    text-align: center;
}
footer {
    margin-top: 70px;
    background-color: rgb(227, 227, 227);
    line-height: 40px;
}
footer a {
    color: black;
    text-decoration: none;
}
.f-section1 {
    width: 100%;
    display: flex;
}
.f-page {
    width: 33.33333% ;
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    padding-left: 50px;
    padding-top: 30px;
}
.f-section2 {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
}
.f-under {
    padding-top: 50px;
}
.writing {
    width: 70%;
    padding-left: 50px;
}
.f-icon {
    width: 30%;
}
.f-youtube{
    font-size: 30px;
    color: black;
}
.copyright {
    border-bottom: 1px black solid;
    width: 260px;
}
.admin_popup {
    border: none;
    background-color: transparent;
    font-size: 15px;
    border-bottom: 1px black solid;
    cursor: pointer;
}
.admin_popup:hover {
    color: #800000;
    border-bottom: 1px #800000 solid;
}