* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #800000;
}
.top-logo img {
    width: 80%;
}
.pc-menu svg {
    width: 5%;
    margin-left: 10px;
    margin-top: 5px;
}
.pc-menu li {
    text-decoration: none;
    list-style: none;
    color: black;
}